.App {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  z-index: 1;
  padding: 20px;
}

.title {
  padding: 5px;
  color: white;
  text-align: center;
  background-color: hsl(240, 37%, 24%);
  border-radius: 5px;
}
