.App {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;  
  min-width: 100vw;
  z-index: 1;
}

.title {
  padding: 5px;
  color: white;
  text-align: center;

}